/*RESETEO*/
*{
    margin: 0px;
}

/* NOMBRAR LAS AREAS*/

header {
    grid-area: cabeza;
 }
 footer {
    grid-area: pie;
 }
 main {
    grid-area: productos;     
 }

 nav {
    grid-area: menu ;
 }


/***** RESPONSIVE ******/
/* DESKTOP */

@media (min-width: 1024px) {
/*Colores para d'albo computacion*/
h1 {
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding: 30px 30px;
} 
h2 {
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 30px;
    padding-top: 20px;
}


h3{
    padding: 5px 0px 10px 0px;
}

footer h4 {
   color: #111111;
}

#TextoSeparadoContacto {
    padding-bottom: 20px;
}

nav h2 {
    color: #ffffff;
    size: 40px;
}
body {
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
}


img {
    width: 200px;
    padding: 30px;

} 

ul {
    list-style-type: none;
}

ul li {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 5px;
}

header{
    border: 1px solid #ffffff;
}

footer{
    border: 1px solid #ffffff;
}

/* CLASES */
.Fondoweb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    background-color: #c1ff70;
    padding: 20px;
    border: 1px solid #ffffff;
}  

.FondoMenu {
    background-color: darkgreen;
    padding-bottom: 30px;
    border: 1px solid #ffffff;
}

/*FLEX*/

.FooterFlex{
    display: flex;
    justify-content: left;
    background-color: #111;
    padding: 20px 20px;
}

.MenuFlex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.negro {
    display: flex;
    justify-content: center;
    background-color: #111;
    padding: 20px 20px;
}

/*GRIDS POR AREA*/

#GridAreas {
    display: grid;
    /*1 columna y 4 filas*/
    grid-template-areas: "cabeza"
    "menu"
    "contenido"
    "pie" ;
    grid-template-columns: auto;
    grid-template-rows: repeat(4,auto);
}
}
      /*TABLET*/ 

    @media (min-width: 481px) and (max-width:1023px){
        h1 {
            color: #ffffff;
            font-family: 'Bebas Neue', cursive;
            text-align: center;
            padding: 30px 30px;
        } 
        h2 {
            display: flex;
            justify-content: center;
            font-family: 'Bebas Neue', cursive;
            padding-bottom: 30px;
            padding-top: 20px;
        }
        
        
        h3{
            padding: 5px 0px 10px 0px;
        }
        
        footer h4 {
           color: #111111;
        }
        
        #TextoSeparadoContacto {
            padding-bottom: 20px;
        }
        
        nav h2 {
            color: #ffffff;
            size: 40px;
        }
        body {
            font-family: 'Roboto Mono', monospace;
            height: 100vh;
        }
        
        
        img {
            width: 200px;
            padding: 30px;
        
        } 
        
        ul {
            list-style-type: none;
        }
        
        ul li {
            background-color: rgb(255, 255, 255);
            padding: 5px;
            margin: 5px;
        }
        
        header{
            border: 1px solid #ffffff;
        }
        
        footer{
            border: 1px solid #ffffff;
        }
        
        /* CLASES */
        .Fondoweb {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:space-between;
            background-color: #c1ff70;
            padding: 20px;
            border: 1px solid #ffffff;
        }  
        
        .FondoMenu {
            background-color: darkgreen;
            padding-bottom: 30px;
            border: 1px solid #ffffff;
        }
        
        /*FLEX*/
        
        .FooterFlex{
            display: flex;
            justify-content: left;
            background-color: #111;
            padding: 20px 20px;
        }
        
        .MenuFlex {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }
        
        .negro {
            display: flex;
            justify-content: center;
            background-color: #111;
            padding: 20px 20px;
        }
        
        /*GRIDS POR AREA*/
        
        #GridAreas {
            display: grid;
            /*1 columna y 4 filas*/
            grid-template-areas: "cabeza"
            "menu"
            "contenido"
            "pie" ;
            grid-template-columns: auto;
            grid-template-rows: repeat(4,auto);
        }
        }

        
        /*MOBILE*/

@media (max-width: 480px){
    h1 {
        color: #ffffff;
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        padding: 30px 30px;
    } 
    h2 {
        display: flex;
        justify-content: center;
        font-family: 'Bebas Neue', cursive;
        padding-bottom: 30px;
        padding-top: 20px;
    }
    
    
    h3{
        padding: 5px 0px 10px 0px;
    }
    
    footer h4 {
       color: #111111;
    }
    
    #TextoSeparadoContacto {
        padding-bottom: 20px;
    }
    
    nav h2 {
        color: #ffffff;
        size: 40px;
    }
    body {
        font-family: 'Roboto Mono', monospace;
        height: 100vh;
    }
    
    
    img {
        width: 200px;
        padding: 30px;
    
    } 
    
    ul {
        list-style-type: none;
    }
    
    ul li {
        background-color: rgb(255, 255, 255);
        padding: 5px;
        margin: 5px;
    }
    
    header{
        border: 1px solid #ffffff;
    }
    
    footer{
        border: 1px solid #ffffff;
    }
    
    /* CLASES */
    .Fondoweb {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        background-color: #c1ff70;
        padding: 20px;
        border: 1px solid #ffffff;
    }  
    
    .FondoMenu {
        background-color: darkgreen;
        padding-bottom: 30px;
        border: 1px solid #ffffff;
    }
    
    /*FLEX*/
    
    .FooterFlex{
        display: flex;
        justify-content: left;
        background-color: #111;
        padding: 20px 20px;
    }
    
    .MenuFlex {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    .negro {
        display: flex;
        justify-content: center;
        background-color: #111;
        padding: 20px 20px;
    }
    
    /*GRIDS POR AREA*/
    
    #GridAreas {
        display: grid;
        /*1 columna y 4 filas*/
        grid-template-areas: "cabeza"
        "menu"
        "contenido"
        "pie" ;
        grid-template-columns: auto;
        grid-template-rows: repeat(4,auto);
    }
}





